!!!
%html
  %head
    = css('yui/reset-fonts-grids')
    = css('yui/base-min')
    = js('jquery')
    %title
      = @title || "WriteTogether"
  %body
    #doc2.yui-t7
      #hd
        %h1 WriteTogether
        %div{:style => "position:absolute;left:20px;"} Nav button
        %h2 Thanks for being logged in!
      
      - if @slot1c
        .yui-gb
          %div{:class => "yui-u first"}
            = @slot1a.to_s || "No content"
          %div{:class => "yui-u"}
            = @slot1b || "No content"
          %div{:class => "yui-u"}
            = @slot1c || "No content"
      - elsif @slot1b
        .yui-g
          %div{:class => "yui-u first"}
            = @slot1a.to_s
          %div{:class => "yui-u"}
            = @slot1b
      - elsif @slot1a
        .yui-g
          = @slot1a
      .yui-g
        %div{:class => "yui-g first"}
          %div{:class => "yui-u first"}
            = @slot2a
          %div{:class => "yui-u"}
            = @slot2b
        %div{:class => "yui-g"}
          %div{:class => "yui-u first"}
            = @slot2c
          %div{:class => "yui-u"}
            = @slot2d
      = #@content
      #ft
        &copy; 2009 Max's Face
